<template>
    <div class="content">
        <Nav />
        <div class="m-3">
            <b-card-group deck>
                <b-card title="Cien" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/CIEN.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Cinco" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/CINCO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Cincuenta" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/CINCUENTA.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Cuarenta" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/CUARENTA.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Cuatro" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/CUATRO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Diez" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/DIEZ.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Dos" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/DOS.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Noventa" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/NOVENTA.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Nueve" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/NUEVE.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Ochenta" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/OCHENTA.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Ocho" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/OCHO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Seis" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/SEIS.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Sesenta" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/SESENTA.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Setenta" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/SETENTA.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Siete" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/SIETE.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
            <b-card-group deck>
                <b-card title="Treinta" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/TREINTA.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Tres" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/TRES.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>

                <b-card title="Uno" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/UNO.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Veinte" style="max-width: 40rem;">
                    <img
                        src="../assets/imagenes/numeros/VEINTE.jpg"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
                <b-card title="Edecri" style="max-width: 40rem;">
                    <img
                        src="../assets/logoedecri-sinfondo.png"
                        class="card-img card-img-top img-fluid"
                    />
                    <b-card-text>
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </b-card-text>
                    <template #footer>
                        <small class="text-muted">---------------------------------------</small>
                    </template>
                </b-card>
            </b-card-group>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import Nav from '@/components/navbar/navbar.vue'
import Footer from '@/components/Footer/Footer.vue'

export default {
    name: 'InfoPronombres',
    components: {
        Nav,
        Footer
    }
}
</script>
